version: 2.1
orbs:
  windows: circleci/windows@dev:<<pipeline.git.revision>>
  orb-tools: circleci/orb-tools@11.1
filters: &filters
  tags:
    only: /.*/
jobs:
  test-server-2019:
    parameters:
      variant:
        type: string
      version:
        type: string
    executor:
      name: windows/server-2019
      size: medium
      version: << parameters.version >>
      variant: << parameters.variant >>
    steps:
      - run: Write-Host 'Hello, Windows'
  test-server-2019-cuda:
    parameters:
      version:
        type: string
    executor:
      name: windows/server-2019-cuda
      size: medium
      version: << parameters.version >>
    steps:
      - run: Write-Host 'Hello, Windows'
  test-server-2022:
    parameters:
      variant:
        type: string
      version:
        type: string
    executor:
      name: windows/server-2022
      size: medium
      version: << parameters.version >>
      variant: << parameters.variant >>
    steps:
      - run: Write-Host 'Hello, Windows'
workflows:
  test-deploy:
    jobs:
      # Make sure to include "filters: *filters" in every test job you want to run as part of your deployment.
      - test-server-2019:
          name: test-server-2019-<< matrix.variant >>-<< matrix.version >>
          matrix:
            parameters:
              variant: [vs2019]
              version: [stable, edge]
          filters: *filters              
      - test-server-2019-cuda:
          name: test-server-2019-cuda-<< matrix.version >>
          matrix:
            parameters:
              version: [edge]
          filters: *filters              
      - test-server-2022:
          name: test-server-2022-<< matrix.variant >>-<< matrix.version >>
          matrix:
            parameters:
              variant: [gui] # add core when available
              version: [edge] # add stable when available 
          filters: *filters              
      - orb-tools/pack:
          filters: *filters
      - orb-tools/publish:
          orb-name: circleci/windows
          vcs-type: << pipeline.project.type >>
          pub-type: production
          requires:
            - orb-tools/pack
          context: orb-publisher
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
